.square-panel {
    flex:1;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 40px; 
    margin-left: 15px;
  }
  
  .image-container {
    overflow: hidden; /* Asegúrate de que la imagen no se desborde */
  }
  
  .image-container img {
    width:300px;
    height: 150px; /* Ajusta el ancho según tus necesidades */
    object-fit: cover; /* Asegúrate de que la imagen cubra el contenedor */
  }

  .text-container {
    
    flex-grow: 1; /* Permite que el contenedor de texto crezca */
    justify-content: center;
    padding: 10px;
    width: 300px; /* Ajusta el ancho según tus necesidades */
    display: flex;
    font-style: italic; /* Hace que el texto sea cursivo */
    color: #4a4a4a; /* Cambia el color del texto a gris oscuro */
    font-size: 12px; /* Ajusta el tamaño del texto */
  }