.input-zod-validable-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-label {
    color: white;
    margin-bottom: 5px;
}

.form-control {
 display: flex;
 justify-content: center;
 width: auto; 
 min-width: 300px; 
 max-width: 500px; 
}

.invalid-feedback {
    color:red
}